<% provide(:title, 'Search Youtube') %>
<%= render 'shared/youtube_search_form' %>
<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-4 medium-4 large-offset-4 text-center columns">
          <h3>Results</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 columns">
          <% if @search_results.any? %>
            <ul class="posts">
              <%= render partial: 'search_result', collection: @search_results %>
            </ul>
          <% else %>
            <div class="row">
              <div class="large-4 medium-4 large-offset-4 columns">
                No results
              </div>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>



