<% provide(:title, 'All users') %>
<div class="row">
   <div class="large-12 medium-12 columns">
      <div class="panel">
         <h3>Who to Follow</h3>
         <ul>
            <%= render @suggestions %>
         </ul>
      </div>   
   </div>
</div>

